body {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	shape-rendering: crispEdges;
	padding: 1% 3% 0 3%;
}

header {
	color: steelblue;
}

header h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
	margin: 10px 0 0;
	text-align: left;
	padding: 0 0 5px 0;
}

header h3 {
	font-size: 1em;
	margin: 0;
}

a {
	color: #4FB69F;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
	margin: 10px 0 0;
	text-align: left;
}

h3 {
	font-size: 1em;
	margin: 0;
	padding-bottom: 5px;
}

select {
	margin: 5px;
	padding-bottom: 5px;
}

label {
	font-size: .8em;
	font-weight: normal;
	color: #a9a9a9;
}

svg {
	font-size: -.5em;
}

#chart {
	margin: auto;
	text-align: center;
}

.calendar_text {
	color: steelblue;
	fill: steelblue;
	stroke: none;
	font-weight: bold;
}

.data_notes {
	font-size: .75em
}








